<!DOCTYPE html>
<html>
<head>
	<title>Artists</title>
</head>
<body>
	<center>
		<h3> Artist List</h3>

		<div class="list-group">
			
			<% @artists.each do |ar| %>

			<li class="list-group-item list-group-item">
				<%= link_to ar.name, action: "show", id: ar %>
				
			</li>
			<% end -%>
		</div>		
	</center>
</body>
</html>


