<!DOCTYPE html>
<html>
<head>
  <title>Albums</title>
</head>
<body>

  <center>
        
  <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Show tracks</a>
  </div>
</div>

  <div class="row">
      <div class="list-group">

        <% @albums.each do |alb| %>

        <li class="list-group-item list-group-item">
          <%= link_to ar.title, action: "show", id: ar %>

        </li>
        <% end -%>
      </div>  
    </div>
 
</ul>
  

      
    
        
        
  </center>
</body>
</html>

