<!DOCTYPE html>
<html>
<head>
  <title>Albums</title>
</head>
<body> 

  <br>  
  <div class="container">

    <h3>Album List  
    <label class="d-inline p-1 bg-primary text-white rounded-pill "><%= Album.count %></label>       
    <p class="text-secondary">Click name to see tracks.</p></h3>

    <form class="form-inline my-2 my-lg-0">
      <div class="text-nowrap bd-highlight">
        Search for:
      </div>
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">


      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="row">
      <div class="list-group">

        
  <!-- CRIANDO AS DUAS COLUNAS DE ALBUM E ARTISTA -->

  <table class="table table-bordered table-hover" >
  <thead>
    <tr>
      <th scope="col1">Album</th>
      <th scope="col2">Artist</th>
    </tr>
  </thead>
  
<!-- PREECHENDO A TABELA COM ALBUM E ARTISTA -->

  <% @albums.each do |album| %>
    <tr>
      <td><%= link_to album.title, album %></td>
      <td><%= album.artist.name %></td>
    </tr>
  </tbody>
    <% end %>
</table>


      </div>  
    </div>
  </div>
</body>
</html>

