<!DOCTYPE html>
<html>
<head>
  <title>RailsWindows</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <!-- NAVBAR -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Music</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

       <!-- ARTISTS -->
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/artists" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Artists
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/artists">Search Artists</a>
          <a class="dropdown-item" href="/artists/create">Another action</a>
        </div>
      </li>

      <!-- ALBUMS -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/albums" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Albums
        </a>
      </li>


      <!-- TRACKS -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/tracks" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tracks
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- FIM NAVBAR -->

<%= yield %>
</body>
</html>
